<div class="panel" *ngIf="editRowMode" style="border: solid 2px #343a40; border-radius: 8px">

  <div class="panel-heading text-center" style="background-color: rgba(0,0,0,0.05); padding: 10px">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary" (click)="onToggleRowEditMode()">Close</button>
      <button type="button" class="btn btn-outline-secondary" *ngIf="!(newRowMode | async)" (click)="onAddTask()">Add Task</button>
      <button type="button" class="btn btn-outline-secondary" *ngIf="unlockFields && !(newRowMode | async)" (click)="onSubmit()">Save</button>
      <button type="button" class="btn btn-outline-secondary" *ngIf="!(newRowMode | async)" (click)="toggleUnlock()"> {{ unlockFields ? 'Cancel' : 'Edit' }}</button>
      <button type="button" class="btn btn-outline-secondary" *ngIf="(newRowMode | async)" (click)="onSaveNewRow()">Save</button>
      <button type="button" class="btn btn-outline-secondary" (click)="switchExtendedRowView()">{{(extendedRowView| async) ? 'Reduce' : 'Extend'}}</button>
      <button type="button" class="btn btn-outline-secondary text-danger" (click)="onDeleteRow()"> Delete </button>
    </div>
  </div>

  <div class="panel-body" style="padding: 10px">
    <div *ngIf="!unlockFields && (newRowMode | async)">
      <div class="col-xs-12 ">
        <form [formGroup]="newRowForm">
          <div class="form-group" hidden>
            <label for="id" class="text-info">ID:</label>
            <input type="number"
                   id="id"
                   formControlName="id"
                   class="form-control"
            >
          </div>
          <div class="form-group" hidden>
            <label for="name" class="text-info">Name:</label>
            <input type="text"
                   id="name"
                   formControlName="name"
                   class="form-control"
            >
          </div>
          <div class="form-group" hidden>
            <label for="createdBy" class="text-info">Created By:</label>
            <input type="text"
                   id="createdBy"
                   formControlName="createdBy"
                   class="form-control"
            >
          </div>
          <div class="form-group" hidden>
            <label for="createdOn" class="text-info">Created On:</label>
            <input type="datetime-local"
                   id="createdOn"
                   formControlName="createdOn"
                   class="form-control"
            >
          </div>
          <div class="form-group" hidden>
            <label for="lastModifiedBy" class="text-info">Last modified by:</label>
            <input type="text"
                   id="lastModifiedBy"
                   formControlName="lastModifiedBy"
                   class="form-control"
            >
          </div>
          <div class="form-group" hidden>
            <label for="lastModifiedOn" class="text-info">Last modified on:</label>
            <input type="datetime-local"
                   id="lastModifiedOn"
                   formControlName="lastModifiedOn"
                   class="form-control"
            >
          </div>
          <div formArrayName="columnValueDtos">
            <div *ngFor="let cell of newRowForm.get('columnValueDtos').controls;let j = index">

              <div [ngSwitch]="(cell.value | valueOnKey).key" formGroupName="{{j}}">

                <div *ngSwitchCase="'DT'" class="form-group" style="margin-top: 10px">
                  <label class="text-info">{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                  <input type="datetime-local"
                         formControlName="DT"
                         class="form-control"
                         formControlName="DT">
                </div>
                <div *ngSwitchCase="'ST'" class="form-group" style="margin-top: 10px">
                  <label class="text-info">{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                  <input
                    [type]="'text'"
                    formControlName="ST"
                    class="form-control">
                </div>
                <div *ngSwitchCase="'DE'" class="form-group" style="margin-top: 10px">
                  <label class="text-info">{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                  <textarea cols="30" rows="10"
                            class="form-control"
                            formControlName="DE">
                </textarea>
                </div>
                <div *ngSwitchCase="'EN'" class="form-group" style="margin-top: 10px">
                  <label class="text-info">{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                  <select class="form-control" formControlName="EN">
                    <option selected> -Select value-</option>
                    <option *ngFor="let option of (header | async)[0].columnDetailDefinitionDtoList[j].optionList">
                      {{option.value}}
                    </option>
                  </select>
                </div>
                <div *ngSwitchCase="'IN'" class="form-group" style="margin-top: 10px">
                  <label class="text-info">{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                  <input [id]="(cell.value | valueOnKey).key"
                         [type]="'number'"
                         class="form-control"
                         formControlName="IN">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <form *ngIf="unlockFields && !(newRowMode | async)" [formGroup]="updateRowForm" style="padding-left: 10px" style="padding: 5px">
      <div formArrayName="columnValueDtos">
        <div *ngFor="let cell of updateRowForm.get('columnValueDtos').controls;let j = index">
          <div [ngSwitch]="(cell.value | valueOnKey).key" formGroupName="{{j}}">
            <div *ngSwitchCase="'DT'" class="form-group" style="margin-top: 10px">
              <label class="text-info"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
              <input type="datetime-local"
                     formControlName="DT"
                     class="form-control"
              >
            </div>
            <div *ngSwitchCase="'ST'" class="form-group" style="margin-top: 10px">
              <label class="text-info"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
              <input formControlName="ST"
                     [type]="'text'"
                     class="form-control"
              >
            </div>
            <div *ngSwitchCase="'DE'" class="form-group" style="margin-top: 10px">
              <label class="text-info"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
              <textarea cols="30" rows="10"
                        formControlName="DE"
                        class="form-control"

              >
                </textarea>
            </div>
            <div *ngSwitchCase="'IN'" class="form-group" style="margin-top: 10px">
              <label class="text-info"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
              <input formControlName="IN"
                     [type]="'number'"
                     class="form-control"

              >
            </div>
            <div *ngSwitchCase="'EN'" class="form-group" style="margin-top: 10px">
              <label class="text-info"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
              <select class="form-control"
                      formControlName="EN"
                      style="height: 35px"

              >
                <option *ngFor="let option of (header | async)[0].columnDetailDefinitionDtoList[j]?.optionList"
                        [value]="option.value"
                        [selected]="(row| async)?.columnValueDtos[j]['EN'].value == option.value"
                >{{ option.value }}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="id" class="text-info">ID:</label>
        <input type="number"
               id="id"
               formControlName="id"
               class="form-control"
               readonly
               required
        >
      </div>
      <div class="form-group" hidden>
        <label for="name" class="text-info">Name:</label>
        <input type="text"
               id="name"
               formControlName="name"
               class="form-control"
               readonly
        >
      </div>
      <div class="form-group" >
        <label for="createdBy" class="text-info">Created By:</label>
        <input type="text"
               id="createdBy"
               formControlName="createdBy"
               class="form-control"
               readonly
               required
        >
      </div>
      <div class="form-group">
        <label class="text-info">Created On:</label>
        <input type="datetime-local"
               formControlName="createdOn"
               class="form-control"
               readonly
               required
        >
      </div>
      <div class="form-group">
        <label for="lastModifiedBy" class="text-info">Last modified by:</label>
        <input type="text"
               id="lastModifiedBy"
               formControlName="lastModifiedBy"
               class="form-control"
               readonly
               required
        >
      </div>
      <div class="form-group" disabled>
        <label for="lastModifiedOn" class="text-info">Last modified on:</label>
        <input type="datetime-local"
               id="lastModifiedOn"
               formControlName="lastModifiedOn"
               class="form-control"
               readonly
               required
        >
      </div>
    </form>

    <div *ngIf="!unlockFields && !(newRowMode | async)">
      <table class="table">
        <tbody>
        <tr *ngFor="let cellValue of (row | async)?.columnValueDtos; let i = index;">
          <td><span class="text-info">
            {{ (header | async)[0].columnDetailDefinitionDtoList[i]?.name }}</span>
          </td>
          <td>
            {{(cellValue | valueOnKey).value.value }}
          </td>
        </tr>
        <tr *ngIf="extendedRowView | async">
          <td><span class="text-info">ID</span></td>
          <td>{{ (row | async)?.id }}</td>
        </tr>
        <tr *ngIf="extendedRowView | async" hidden>
          <td><span class="text-info">Name</span></td>
          <td>{{ (row | async)?.name }}</td>
        </tr>
        <tr *ngIf="extendedRowView | async">
          <td><span class="text-info">Created by</span></td>
          <td>{{ (row | async)?.createdBy}}</td>
        </tr>
        <tr *ngIf="extendedRowView | async">
          <td><span class="text-info">Created on</span></td>
          <td>{{ (row | async)?.createdOn }}</td>
        </tr>
        <tr *ngIf="extendedRowView | async">
          <td><span class="text-info">Last modified by</span></td>
          <td>{{ (row | async)?.lastModifiedBy }}</td>
        </tr>
        <tr *ngIf="extendedRowView | async">
          <td><span class="text-info">Last modified on</span></td>
          <td>{{ (row | async)?.lastModifiedOn }}</td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="(row | async)?.taskDtos.length <= 0">
        <ul class="list-group" style="margin-bottom: 0">
          <li class="list-group-item text-white text-center" style="background-color: rgba(0,0,0,0.05);">
            <h5>NO TASKS</h5>
          </li>
        </ul>
      </div>

      <div *ngIf="(row | async)?.taskDtos.length > 0">
        <ul class="list-group" style="margin-bottom: 0">
          <li class="list-group-item text-white text-center" style="background-color: rgba(0,0,0,0.05);">
            <h5>TASKS</h5>
          </li>
          <div *ngFor="let task of (row | async)?.taskDtos; let i = index;">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin-top: 3px">
              <span class="btn btn-outline-secondary text-info"
                    (click)="task.id == selectedTask?.id ? onShowTask(null) : onShowTask(task)"> {{task.name }} </span>
              <span class="btn btn-outline-secondary text-danger" (click)="onDeleteTask(task.id)" *ngIf="task.id == selectedTask?.id"> Delete Task</span>
              <span class="btn btn-outline-secondary" (click)="onShowTaskDetails(task)">Details</span>
            </li>
            <div *ngIf="task.id == selectedTask?.id">
              <li class="list-group-item"> ID: {{task.id}}</li>
              <li class="list-group-item"> Name: {{task.name}}</li>
              <li class="list-group-item"> Description: {{task.description}}</li>
              <li class="list-group-item"> Status: {{task.status}}</li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
