<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 0">
  <a class="navbar-brand" href="/">Report Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" *ngIf="(token | async)">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/tables">Tables</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/users">Users</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/definitions">Definition</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/roles">Roles</a></li>
    </ul>
  </div>
  <span class="navbar-text font-weight-bold" *ngIf="(token | async)"> Welcome : {{ username | async }}</span>>
  <ul class="navbar-nav navbar-right" style="padding-right: 20px">
    <li class="nav-item"><a class="nav-link" routerLink="/signin" *ngIf="(token | async) == null">Login</a></li>
    <li class="nav-item"><a class="nav-link" (click)="onLogout()" *ngIf="(token | async)" routerLink="/">Logout</a></li>
  </ul>
</nav>
