<div class="panel" *ngIf="editRowMode" style="border: solid 2px #343a40; border-radius: 8px">

  <div class="panel-heading bg-dark">
    <button type="button" class="btn btn-default" (click)="onToggleRowEditMode()">Close</button>
    <button type="button" class="btn btn-default" *ngIf="unlockFields && !(newRowMode | async)" (click)="onSubmit()">Save</button>
    <button type="button" class="btn btn-default" *ngIf="!(newRowMode | async)" (click)="toggleUnlock()"> {{ unlockFields ? 'Cancel' : 'Edit' }}</button>
    <button type="button" class="btn btn-default" *ngIf="(newRowMode | async)" (click)="onSaveNewRow()">Save</button>
  </div>

  <div *ngIf="!unlockFields && (newRowMode | async)">
    <div class="col-xs-12 ">
      <form [formGroup]="newRowForm">
        <div class="form-group" hidden>
          <label for="id">ID:</label>
          <input type="number"
                 id="id"
                 formControlName="id"
                 class="form-control"
          >
        </div>
        <div class="form-group" hidden>
          <label for="name">Name:</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 class="form-control"
          >
        </div>
        <div class="form-group" hidden>
          <label for="createdBy">Created By:</label>
          <input type="text"
                 id="createdBy"
                 formControlName="createdBy"
                 class="form-control"
          >
        </div>
        <div class="form-group" hidden>
          <label for="createdOn">Created On:</label>
          <input type="datetime-local"
                 id="createdOn"
                 formControlName="createdOn"
                 class="form-control"
          >
        </div>
        <div class="form-group" hidden>
          <label for="lastModifiedBy">Last modified by:</label>
          <input type="text"
                 id="lastModifiedBy"
                 formControlName="lastModifiedBy"
                 class="form-control"
          >
        </div>
        <div class="form-group" hidden>
          <label for="lastModifiedOn">Last modified on:</label>
          <input type="datetime-local"
                 id="lastModifiedOn"
                 formControlName="lastModifiedOn"
                 class="form-control"
          >
        </div>
        <div formArrayName="columnValueDtos">
          <div *ngFor="let cell of newRowForm.get('columnValueDtos').controls;let j = index">

            <div [ngSwitch]="(cell.value | valueOnKey).key" formGroupName="{{j}}">

              <div *ngSwitchCase="'DT'" class="form-group" style="margin-top: 10px">
                <label>{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                <input type="datetime-local"
                       formControlName="DT"
                       class="form-control"
                       formControlName="DT">
              </div>
              <div *ngSwitchCase="'ST'" class="form-group" style="margin-top: 10px">
                <label>{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                <input
                  [type]="'text'"
                  formControlName="ST"
                  class="form-control">
              </div>
              <div *ngSwitchCase="'DE'" class="form-group" style="margin-top: 10px">
                <label>{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                <textarea cols="30" rows="10"
                          class="form-control"
                          formControlName="DE">
                </textarea>
              </div>
              <div *ngSwitchCase="'EN'" class="form-group" style="margin-top: 10px">
                <label>{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                <select class="form-control-lg" formControlName="EN">
                  <option *ngFor="let option of (header | async)[0].columnDetailDefinitionDtoList[j].optionList"
                  >{{option.value}}
                  </option>
                </select>
              </div>
              <div *ngSwitchCase="'IN'" class="form-group" style="margin-top: 10px">
                <label>{{(header | async)[0].columnDetailDefinitionDtoList[j].name}}</label>
                <input [id]="(cell.value | valueOnKey).key"
                       [type]="'number'"
                       class="form-control"
                       formControlName="IN">
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success"
                (click)="onSaveNewRow()">Post form
        </button>
        <button type="button" class="btn btn-danger"
                (click)="onAbortNewRow()">Abort
        </button>
      </form>
    </div>
  </div>

  <form *ngIf="unlockFields && !(newRowMode | async)" [formGroup]="updateRowForm" style="padding-left: 10px" style="padding: 5px">
    <div formArrayName="columnValueDtos">
      <div *ngFor="let cell of updateRowForm.get('columnValueDtos').controls;let j = index">
        <div [ngSwitch]="(cell.value | valueOnKey).key" formGroupName="{{j}}">
          <div *ngSwitchCase="'DT'" class="form-group" style="margin-top: 10px">
            <label style="color: #1a1a1a"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
            <input type="datetime-local"
                   formControlName="DT"
                   class="form-control"
            >
          </div>
          <div *ngSwitchCase="'ST'" class="form-group" style="margin-top: 10px">
            <label style="color: #1a1a1a"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
            <input formControlName="ST"
                   [type]="'text'"
                   class="form-control"
            >
          </div>
          <div *ngSwitchCase="'DE'" class="form-group" style="margin-top: 10px">
            <label style="color: #1a1a1a"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
            <textarea cols="30" rows="10"
                      formControlName="DE"
                      class="form-control"

            >
                </textarea>
          </div>
          <div *ngSwitchCase="'IN'" class="form-group" style="margin-top: 10px">
            <label style="color: #1a1a1a"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
            <input formControlName="IN"
                   [type]="'number'"
                   class="form-control"

            >
          </div>
          <div *ngSwitchCase="'EN'" class="form-group" style="margin-top: 10px">
            <label style="color: #1a1a1a"> {{ (header | async)[0].columnDetailDefinitionDtoList[j]?.name }} </label>
            <select class="form-control"
                    formControlName="EN"
                    style="height: 35px"

            >
              <option *ngFor="let option of (header | async)[0].columnDetailDefinitionDtoList[j]?.optionList"
                      [value]="option.value"
                      [selected]="(row| async)?.columnValueDtos[j]['EN'].value == option.value"
              >{{ option.value }}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="number"
             id="id"
             formControlName="id"
             class="form-control"
             readonly
             required
      >
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text"
             id="name"
             formControlName="name"
             class="form-control"
             readonly
             required
      >
    </div>
    <div class="form-group">
      <label for="createdBy">Created By:</label>
      <input type="text"
             id="createdBy"
             formControlName="createdBy"
             class="form-control"
             readonly
             required
      >
    </div>
    <div class="form-group">
      <label>Created On:</label>
      <input type="datetime-local"
             formControlName="createdOn"
             class="form-control"
             readonly
             required
      >
    </div>
    <div class="form-group">
      <label for="lastModifiedBy">Last modified by:</label>
      <input type="text"
             id="lastModifiedBy"
             formControlName="lastModifiedBy"
             class="form-control"
             readonly
             required
      >
    </div>
    <div class="form-group" disabled>
      <label for="lastModifiedOn">Last modified on:</label>
      <input type="datetime-local"
             id="lastModifiedOn"
             formControlName="lastModifiedOn"
             class="form-control"
             readonly
             required
      >
    </div>
  </form>


  <table class="table" *ngIf="!unlockFields && !(newRowMode | async)">
    <tr>
      <td>ID</td>
      <td>{{ (row | async)?.id }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ (row | async)?.name }}</td>
    </tr>
    <tr *ngFor="let cellValue of (row | async)?.columnValueDtos; let i = index;">
      <td> {{ (header | async)[0].columnDetailDefinitionDtoList[i]?.name }}</td>
      <td>
        {{(cellValue | valueOnKey).value.value }}
      </td>
    </tr>
    <tr>
      <td>Created by</td>
      <td>{{ (row | async)?.createdBy}}</td>
    </tr>
    <tr>
      <td>Created on</td>
      <td>{{ (row | async)?.createdOn }}</td>
    </tr>
    <tr>
      <td>Last modified by</td>
      <td>{{ (row | async)?.lastModifiedBy }}</td>
    </tr>
    <tr>
      <td>Last modified on</td>
      <td>{{ (row | async)?.lastModifiedOn }}</td>
    </tr>
  </table>
</div>
