<div class="row" style="margin: 0;padding: 0;">
  <div [ngClass]="(tableState | async).editRowMode ? 'col-xs-4' : 'hidden'" style="margin: 41px 0px">
    <app-table-details *ngIf="(tableState | async).editRowMode"></app-table-details>
  </div>
  <div [ngClass]="(tableState | async).editRowMode == true ? 'col-xs-8':'col-xs-12'" style="padding: 0">
    <div class="panel panel-dark">

      <div class="panel-light">
        <app-menu *ngIf="(tableState | async).tablesNames.length != 0"
                  [tableNames]="(tableState | async).tablesNames"
                  (choosenNameChanged)="setTable($event)"></app-menu>
      </div>
      <div class="panel-body" style="padding: 0">
        <div *ngIf="tableChosen">
          <div class="table-responsive">
            <table
                   class="table table-hover table-dark header-fixed table-striped table-sortable"
                   style="background-color: #343a40; margin-bottom: 0; border-radius: 0px"
            >
              <thead>
              <app-table-header></app-table-header>
              </thead>
              <tbody id="search-table">
              <app-row *ngFor="let row of (tableState | async).tableContent" [row]="row"
                       [header]="(tableState|async).tableDefinition"></app-row>
              </tbody>
            </table>
          </div>
          <!--<app-new-row *ngIf="(editRowMode| async)" [header]="(tableState | async).tableDefinition"></app-new-row>-->
        </div>
      </div>
    </div>
  </div>
</div>

