<div class="d-flex justify-content-center">
  <tr (click)="onEditForm()" *ngIf="rowFilterState" main>
    <td *ngFor="let cellValue of row.columnValueDtos"
        [ngClass]="(cellValue | valueOnKey).key == 'DE' ? 'description' : '' ">
      {{(cellValue | valueOnKey).value.value }}
    </td>
    <td *ngIf="extendedTableView | async">{{ row.id }}</td>
    <td *ngIf="extendedTableView | async" hidden>{{ row.name }}</td>
    <td *ngIf="extendedTableView | async">{{ row.createdBy}}</td>
    <td *ngIf="extendedTableView | async">{{ row.createdOn }}</td>
    <td *ngIf="extendedTableView | async">{{ row.lastModifiedBy }}</td>
    <td *ngIf="extendedTableView | async">{{ row.lastModifiedOn }}</td>
    <td *ngIf="extendedTableView | async">{{ row.taskDtos.length }}</td>
  </tr>
</div>
