<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-3">Welcome !</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce ullamcorper a ipsum nec feugiat. Quisque viverra quis nulla eu pharetra.
      Morbi blandit, quam vehicula semper hendrerit, ante urna vulputate justo, vitae venenatis
      massa tellus ac risus. Aliquam consequat libero quis aliquet posuere. Etiam imperdiet interdum accumsan.
      Etiam sodales suscipit dui, sit amet finibus augue aliquam quis.
    </p>
  </div>
</div>
