<div class="row">
  <div class="col-xs-4">
    <ul class="list-group" style="padding: 50px 30px">
      <li class="list-group-item list-group-item-dark bg-dark text-white"> Active Users:</li>
      <li
        class="list-group-item list-group-item-action list-group-item-light"
        (click)="setChat('global')"
      > Global chat
      </li>
      <div *ngFor="let activeWsUser of (activeWsUsers | async)">
        <li *ngIf="activeWsUser != (currentUser |async)"
          class="list-group-item list-group-item-action list-group-item-light"
          (click)="setChat(activeWsUser)"
        >{{activeWsUser}}
        </li>
      </div>
    </ul>
  </div>
  <div class="col-xs-8" style="padding: 50px 70px 0 0;">
    <div class="panel panel-default" [hidden]="chatName !== 'global'">
      <div class="panel-heading bg-datk">Global chat:</div>
      <div class="panel-body"
           style="min-height: 600px; max-height: 600px; overflow-y: scroll;">
        <div *ngFor="let message of (chatContent | async | reverse)">
          <div *ngIf="(message.senderName) === 'global' || (message.recipientName) === 'global'">
            <div *ngIf="(message.senderName) === (currentUser |async)" class="alert alert-info"
                 style="width: 70%; margin-bottom: 5px;">{{message.senderName}} : {{message.message}}</div>
            <div *ngIf="(message.senderName) !== (currentUser |async)" class="alert alert-success"
                 style="width: 70%; margin: 0 0 5px 30%">{{message.senderName}} : {{message.message}}
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer bg-datk">
        <input class="form-control" type="text" #messageContent>
        <button (click)="postMessage(messageContent.value)" class="btn btn-default">Post</button>
      </div>
    </div>
    <div *ngFor="let activeWsUser of (activeWsUsers | async | reverse)">
      <div class="panel panel-default" [hidden]="chatName != activeWsUser">
        <div class="panel-heading bg-datk">{{activeWsUser}} chat:</div>
        <div class="panel-body"
             style="min-height: 600px;max-height: 600px; overflow-y: scroll;">
          <div *ngFor="let message of (chatContent | async)">
            <div *ngIf="
            (message.senderName === activeWsUser || message.recipientName === activeWsUser) &&
            (message.senderName !== 'global' && message.recipientName !== 'global')
            ">
              <div *ngIf="(message.senderName) === (currentUser |async)" class="alert alert-info"
                   style="width: 70%; margin-bottom: 5px;">{{message.senderName}} :{{message.message}}</div>
              <div *ngIf="(message.senderName) !== (currentUser |async)" class="alert alert-success"
                   style="width: 70%; margin: 0 0 5px 30%">{{message.senderName}} : {{message.message}}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer bg-datk">
          <input class="form-control" type="text" #messageContent>
          <button (click)="postMessage(messageContent.value)" class="btn btn-default">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
