<div *ngIf="(showedTask | async)">
  <ul class="list-group">
    <li class="list-group-item text-white text-center" style="background-color: rgba(0,0,0,0.05);">
      <button class="btn btn-outline-secondary" (click)="onHideTaskDetails()">Hide Details</button>
    </li>
    <li class="list-group-item">
      <div class="list-group-item d-flex justify-content-between">
        <span class="text-info">ID: </span>
        <span>{{(showedTask | async)?.id}}</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item d-flex justify-content-between">
        <span class="text-info">Name:</span>
        <span>{{ (showedTask | async)?.name}}</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item d-flex justify-content-between">
        <span class="text-info">Description:</span>
        <span>{{ (showedTask | async)?.description }}</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item d-flex justify-content-between">
        <span class="text-info">Status:</span>
        <span>{{(showedTask | async)?.status}}</span>
      </div>
    </li>
    <li class="list-group-item text-white text-center" style="background-color: rgba(0,0,0,0.05);">
      <form class="form-group">
        <div class="form-group d-flex justify-content-between align-items-center" style="margin-top: 5px">
          <div class="input-group">
            <select #userContol class="form-control">
              <option>{{(tableUsers| async).length != 0 ? 'Assign user' : 'No available users to assign'}}</option>
              <option *ngFor="let tableUser of (tableUsers| async)"> {{ tableUser }}</option>
            </select>
            <div class="input-group-append" *ngIf="(tableUsers| async).length != 0">
              <button class="btn btn-outline-secondary" (click)="onAssignUserToTask(userContol.value)">+</button>
              <button class="btn btn-outline-secondary" (click)="onRemoveUserFromTask(userContol.value)">-</button>
            </div>
          </div>
        </div>
      </form>
    </li>
    <li class="list-group-item text-white text-center" style="background-color: rgba(0,0,0,0.05);"><p
      style="margin-bottom: 3px">{{ (showedTask | async)?.userNames.length <= 0 ? 'No assigned users' : 'Assigned
      Users:'}}</p></li>
    <li class="list-group-item" *ngFor=" let username of (showedTask | async)?.userNames">
      <span class="text-info">{{username}}</span>
    </li>
    <li class="list-group-item text-white text-center" style="background-color: rgba(0,0,0,0.05);">
      {{ (showedTask | async)?.taskDtos.length <= 0 ? 'No tasks' : 'Assigned Tasks:'}}
    </li>
    <li class="list-group-item" *ngFor="let taskDto of (showedTask | async)?.taskDtos">
      <!--<app-task></app-task>-->
    </li>
  </ul>
</div>

<div *ngIf="(showedTask | async) == null">
  <form>
    <div class="form-group">
      <label class="text-info">Name:</label>
      <input class="form-control" type="text" #nameEl>
    </div>
    <div class="form-group">
      <label class="text-info">Description:</label>
      <textarea rows="20" class="form-control" #descriptionEl></textarea>
    </div>
    <div class="form-group">
      <label class="text-info">Status:</label>
      <select class="form-control" #statusEl>
        <option> {{status[0]}}</option>
        <option> {{status[1]}}</option>
        <option> {{status[2]}}</option>
        <option> {{status[3]}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-dark text-white"
              (click)="onSaveRowNewTask({name: nameEl.value,description: descriptionEl.value,status: statusEl.value})">
        Submit
      </button>
      <button class="btn btn-dark text-white" (click)="onHideTaskDetails()">Abort</button>
    </div>
  </form>
</div>
