<div *ngIf="selectedTableName | async">

  <div *ngIf="tableState | async">

    <div class="card"><!--                                                                                 ROWS INFO -->
      <div class="card-header">
        <h5 class="text-info text-center">{{ selectedTableName | async }}</h5>
      </div>
      <div class="card-body" style="background-color: transparent !important; padding: 20px">
        <div class="card">
          <div class="card-header">Rows info:</div>
          <div class="card-body">
            <div class="row d-flex justify-content-center" style="margin-top: 20px">
              <div class="col-3">
                <div class="card border-info bg-transparent" style="width: 10rem;">
                  <div class="bg-info align-middle">
                    <h3 class="text-white text-center">{{ tableInfo?.rows.length }} </h3>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center text-white">Rows</h5>
                  </div>
                </div>
              </div>
              <div class="col-3">

                <div class="card border-success bg-transparent" style="width: 10rem;">
                  <div class="bg-success align-middle">
                    <h3 class="text-white text-center">{{ tableInfo?.doneRows.length }} </h3>
                  </div>
                  <div class="card-body" style="min-height: 100px">
                    <h5 class="card-title text-center text-white">Done Rows</h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card border-danger bg-transparent" style="width: 10rem;">
                  <div class="bg-danger align-middle">
                    <h3 class="text-white text-center">{{ tableInfo?.undoneRows.length }} </h3>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center text-white">Undone Rows</h5>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="tableInfo" class="progress bg-transparent" style="margin-top: 20px">
              <div class="progress-bar bg-success border-success"
                   role="progressbar"
                   [style.width]=" (tableInfo?.doneRows.length / tableInfo?.rows.length * 100 | number : '1.0-0') + '%'"
                   attr.aria-valuenow="{{ tableInfo?.doneRows.length / tableInfo?.rows.length * 100 | number : '1.0-0' }}"
                   attr.aria-valuemin="0"
                   attr.aria-valuemax="100">
              </div>
              <div class="progress-bar border-danger bg-danger"
                   role="progressbar"
                   [style.width]="(tableInfo?.undoneRows.length / tableInfo?.rows.length * 100 | number : '1.0-0') + '%'"
                   [style.border]="'1px solid'"
                   attr.aria-valuenow="{{ tableInfo?.undoneRows.length / tableInfo?.rows.length * 100 | number : '1.0-0' }}"
                   attr.aria-valuemin="0"
                   attr.aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--                                                                                              ROWS INFO END-->

    <div class="card"><!--                                                                                  COLUMNS INFO -->
      <div class="card-header">Columns info:</div>
      <div class="card-body" *ngIf="(tableHeaderState | async)">

        <div *ngFor="let dateInfo of tableInfo.columnInfo.dateInfo"><!--                                     DATE COLUMNS INFO -->
          <div class="card">
            <div class="card-header">
                <span>
                  DATE TYPE COLUMNS:
                </span>
            </div>
            <div class="card-body">
              <table class="table table-striped bg-transparent ">
                <thead class="border-secondary">
                <tr>
                  <th>
                    COLUMN NAME
                  </th>
                  <th>
                    MIN DATE
                  </th>
                  <th>
                    MAX DATE
                  </th>
                </tr>
                </thead>
                <tbody class="border-secondary">
                <tr>
                  <td>
                    {{ (tableHeaderState | async)[0].columnDetailDefinitionDtoList[dateInfo.columnNumber].name }}
                  </td>
                  <td>
                    {{ dateInfo.min | date:'fullDate' }}
                  </td>
                  <td>
                    {{ dateInfo.max | date:'fullDate' }}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--                                                                                     DATE COLUMNS INFO END-->

        <div class="card"><!--                                                                         ENUM COLUMNS INFO -->
          <div class="card-header">Enum info:</div>
          <div class="card-body" *ngIf="(tableHeaderState | async)">

            <div *ngIf="enumChart.data.length > 0 && enumChart.labels.length > 0" style="display: block">
              <canvas baseChart
                      [datasets]="enumChart.data"
                      [labels]="enumChart.labels"
                      [legend]="enumChart.legend"
                      [chartType]="enumChart.chartType"
                      [options]="enumChart.ptions"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
              </canvas>
            </div>


            <table class="table table-striped bg-transparent "
                   *ngFor="let enumInfoArray of tableInfo.columnInfo.enumInfo,let i = index"
            style="margin-top: 30px">
              <thead class="border-secondary" *ngIf="i == 0">
              <tr>
                <th>
                  COLUMN NAME
                </th>
                <th>
                  ENUM NAME
                </th>
                <th>
                  SUM
                </th>
              </tr>
              </thead>
                <tbody class="border-secondary" *ngFor="let enumInfo of enumInfoArray">
                <tr *ngIf="enumInfo">
                  <td>
                    {{ (tableHeaderState | async)[0].columnDetailDefinitionDtoList[enumInfo.columnNumber].name }}
                  </td>
                  <td>
                    {{ enumInfo.name }}
                  </td>
                  <td>
                    {{ enumInfo.sum }}
                  </td>
                </tr>
                </tbody>
            </table>
          </div>

        </div><!--                                                                                         ENUM COLUMNS INFO -->

        <div class="card"><!--                                                                             NUMBER COLUMNS INFO -->
          <div class="card-header">Number info:</div>
          <div class="card-body" *ngIf="(tableHeaderState | async)">
            <p *ngFor="let numberInfo of tableInfo.columnInfo.numberInfo">
              {{ numberInfo.columnNumber }},
              SUM: {{ numberInfo.sum }},
              AVG: {{ numberInfo.avg }},
              MIN:{{ numberInfo.min }},
              MAX: {{numberInfo.max }}
            </p>
          </div>

        </div><!--                                                                                         NUMBER COLUMNS INFO END -->

        <div class="card"><!--                                                                             DESCRIPTION COLUMNS INFO -->
          <div class="card-header">Description info:</div>
          <div class="card-body" *ngIf="(tableHeaderState | async)">
            <p *ngFor="let descriptionInfo of tableInfo.columnInfo.descriptionInfo">
              {{ descriptionInfo.columnNumber }},
              AVG: {{ descriptionInfo.avgLength }}
            </p>
          </div>
        </div><!--                                                                                         DESCRIPTION COLUMNS INFO END -->

        <div class="card"><!--                                                                             SHORT TEXT COLUMNS INFO -->
          <div class="card-header">Short text info:</div>
          <div class="card-body" *ngIf="(tableHeaderState | async)">
            <p *ngFor="let shortTextInfo of tableInfo.columnInfo.shortTextInfo">
              {{ shortTextInfo.columnNumber }},
              AVG: {{ shortTextInfo.avgLength}}
            </p>
          </div>
        </div><!--                                                                                           SHORT TEXT COLUMNS INFO END -->

      </div><!--                                                                                             COLUMNS INFO END-->
      <div class="card"><!--                                                                                    TASKS INFO -->
        <div class="card-header">Tasks info:</div>
        <div class="card-body">
          <div class="row" style="margin-top: 20px">
            <div class="col-12 d-flex justify-content-center">
              <div class="card border-info bg-transparent" style="width: 10rem;">
                <div class="bg-info align-middle">
                  <h3 class="text-white text-center">{{ tasksInfo.tasks.length }} </h3>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center text-white">Tasks</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <div class="col-3">
              <div class="card border-danger bg-transparent" style="width: 10rem;">
                <div class="bg-danger align-middle">
                  <h3 class="text-white text-center">{{ tasksInfo.unassignedTasks.length }} </h3>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center text-white">Unassigned Tasks</h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card border-warning bg-transparent" style="width: 10rem;">
                <div class="bg-warning align-middle">
                  <h3 class="text-white text-center">{{ tasksInfo.assignedTasks.length }} </h3>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center text-white">Assigned Tasks</h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card border-primary bg-transparent" style="width: 10rem;">
                <div class="bg-primary align-middle">
                  <h3 class="text-white text-center">{{ tasksInfo.inProgressTasks.length }} </h3>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center text-white">In progress Tasks</h5>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card border-success bg-transparent" style="width: 10rem;">
                <div class="bg-success align-middle">
                  <h3 class="text-white text-center">{{ tasksInfo.doneTasks.length }} </h3>
                </div>
                <div class="card-body" style="min-height: 100px">
                  <h5 class="card-title text-center text-white">Done Tasks</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="progress" *ngIf="tasksInfo.tasks.length > 0" style="margin-top: 20px">
            <div class="progress-bar bg-danger"
                 role="progressbar"
                 [style.width]=" (tasksInfo.unassignedTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0') + '%'"
                 attr.aria-valuenow="{{ tasksInfo.unassignedTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0' }}"
                 attr.aria-valuemin="0"
                 attr.aria-valuemax="100">
            </div>
            <div class="progress-bar bg-warning"
                 role="progressbar"
                 [style.width]="(tasksInfo.assignedTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0') + '%'"
                 attr.aria-valuenow="{{ tasksInfo.assignedTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0' }}"
                 attr.aria-valuemin="0"
                 attr.aria-valuemax="100">
            </div>
            <div class="progress-bar bg-primary"
                 role="progressbar"
                 [style.width]="(tasksInfo.inProgressTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0') + '%'"
                 attr.aria-valuenow="{{ tasksInfo.inProgressTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0' }}"
                 attr.aria-valuemin="0"
                 attr.aria-valuemax="100">
            </div>
            <div class="progress-bar bg-success"
                 role="progressbar"
                 [style.width]="(tasksInfo.doneTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0') + '%'"
                 attr.aria-valuenow="{{ tasksInfo.doneTasks.length / tasksInfo.tasks.length * 100 | number : '1.0-0' }}"
                 attr.aria-valuemin="0"
                 attr.aria-valuemax="100">
            </div>
          </div>
        </div>
      </div><!--                                                                     TASKS INFO -->
    </div>
  </div>
