<div *ngIf="task">
  <li class="list-group-item">
    <button class="btn btn-dark" (click)="onShowTaskDetails()">Show Details</button>
  </li>
  <li class="list-group-item"> ID: {{task.id}}</li>
  <li class="list-group-item"> Name: {{task.name}}</li>
  <li class="list-group-item"> Description: {{task.description}}</li>
  <li class="list-group-item"> Status: {{task.status}}</li>
  <ul class="list-group" style="margin-bottom: 0">
    <li class="list-group-item border border-dark" style="border: none">{{task.userNames.length <= 0 ? 'No users' : 'Assigned Users:'}}</li>
    <li class="list-group" *ngFor=" let username of task.userNames">{{username}}</li>
  </ul>
  <ul class="list-group" style="margin-bottom: 0">
    <li class="list-group-item border border-dark" style="border: none"> {{task.taskDtos.length <= 0 ? 'No tasks' : 'Assigned Tasks:'}}</li>
    <li class="list-group-item" *ngFor="let taskDto of task.taskDtos">
      <!--<app-task [task]="taskDto"></app-task>-->
    </li>
  </ul>
</div>
