<div class="jumbotron">
  <div class="row">
    <div class="col-4">
      <ul class="list-group" style="padding: 50px 30px">
        <li class="list-group-item list-group-item-dark bg-dark text-white">Active Users:</li>
        <li class="list-group-item list-group-item-action list-group-item-light"
            (click)="setChat('global')">
          Global chat
          <span *ngIf="unreadMessages.get('global')" class="badge badge-danger">New</span>
        </li>
        <div *ngFor="let activeWsUser of (activeWsUsers | async)">
          <li *ngIf="activeWsUser != (currentUser |async)"
              class="list-group-item list-group-item-action list-group-item-light"
              (click)="setChat(activeWsUser)"
          >{{activeWsUser}}
            <span *ngIf="unreadMessages.get(activeWsUser)" class="badge badge-primary">New</span>
          </li>
        </div>
      </ul>
    </div>
    <div class="col-8" style="padding: 50px 70px 0 0;">
      <ul class="list-group">
        <li class="list-group-item bg-dark text-info">{{chatNameState | async}} chat:</li>
        <li class="list-group-item">
          <div #chatDiv style="min-height: 600px; max-height: 600px; overflow-y: scroll;">
            <div *ngFor="let message of messagesMap.get(chatNameState | async)">
              <div *ngIf="(message.senderName) === (currentUser |async)" class="alert border-primary text-primary"
                   style="width: 70%; margin-bottom: 5px;">{{message.senderName}} : {{message.message}}
              </div>
              <div *ngIf="(message.senderName) !== (currentUser |async)" class="alert border-success text-success"
                   style="width: 70%; margin: 0 0 5px 30%">{{message.senderName}} : {{message.message}}
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item bg-dark">
          <div class="input-group">
            <input class="form-control border-secondary" type="text" #messageContent
                   (keyup.enter)="post.click()">
            <div class="input-group-append">
              <button #post (click)="postMessage(messageContent.value);messageContent.value = '';"
                      class="btn btn-default">Post
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
