<div *ngIf="role && !(newRoleMode | async)">
  <table class="table table-bordered table-dark table-striped">
    <tbody>
    <tr>
      <td>ID:</td>
      <td>{{ role.id }}</td>
    </tr>
    <tr>
      <td>NAME:</td>
      <td>{{ role.name }}</td>
    </tr>
    <tr>
      <td>DESCRIPTION:</td>
      <td> {{ role.description }}</td>
    </tr>
    <tr>
      <td>USERS:</td>
      <td>
        <ul>
          <li *ngFor="let user of role.userDtos">{{user.username}}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="editUserMode && !(newRoleMode | async)">
    <form [formGroup]="userForm" class="form-group">
      <div class="input-group">
        <select class="form-control" formControlName="user">
          <option selected>- Select -</option>
          <option *ngFor="let user of (users|async)"> {{ user.username }}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-default" (click)="postAddUser()">Add</button>
          <button class="btn btn-default" (click)="postRemoveUser()">Remove</button>
          <button class="btn btn-default" (click)="abortAddUser()">Abort</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!editUserMode">
    <button class="btn btn-default" (click)="onEditUserMode()">Edit Role</button>
  </div>
</div>

<div *ngIf="(newRoleMode | async)">
  <form>
    <div class="form-group">
      <label>Role name:</label>
      <input type="text" class="form-control" #name>
    </div>
    <div class="form-group">
      <label>Role description:</label>
      <textarea rows="6" class="form-control" #description></textarea>
    </div>
    <div class="form-group">
      <button (click)="onSubmitRole(name.value, description.value)" class="btn btn-default">Submit</button>
      <button (click)="onAbortSubmitRole()" class="btn btn-default">Close</button>
    </div>
  </form>
</div>
